* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}
/* HEADER */

header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.header-section{
    display: flex;
    justify-content: space-around;
    background-color: #021d4a;
    width: 100%;
    color: white;
    padding: 15px;
    
}

.header-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px;
}
.header-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header h3{
    margin: 0;
}
.header-carrito img{
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #198754;
    cursor: pointer;
}
.header-carrito img:hover{
    background-color: #198754;
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}
.header-links a {
  text-decoration: none;
  color: black;
  transition: 1s;
}

.header-links a:hover {
  color: gray;
}

.header-redes {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.header-redes img {
  width: 30px;
}

/* CARRUSEL */
.carrusel {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}
.carousel {
  width: 70%;
}

/* QUIENES SOMOS */
.quienes-somos {
  padding: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  scroll-margin-bottom: 5px;
  font-size: 15px;
}
.quienes-somos-titulo {
  display: flex;
  justify-content: center;
}
.informacion {
  display: flex;
  justify-content: center;
}
.informacion img {
  height: 300px;
}

/* LISTA DE PRODUCTOS */
.productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-margin-top: 40px;
  padding: 30px;
}

.info-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: auto;
}
.info-producto img{
    height: 220px;
}


.card-title {
  text-align: center;
}
.card-precio{
    color: #021d4a;
    font-weight: 800;
}
.card-footer {
  background-color: #021d4a;
}
.card-footer p {
  margin: 0;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}
.card-footer p:hover {
  color: gray;
  transition: 1s;
}

/* FORMULARIO */

.contactanos{
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 20px;
    height: 590px;
  }
.form-contactanos{
    width: 320px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}


.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-btn {
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form-btn-reset {
  background-color: #ccc;
}

.form-btn-submit {
  background-color: #007bff;
  color: #fff;
}




/* FOOTER */


footer{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.4);
  }
footer h3{
    margin: 0;
    text-align: center;
}
.footer-nav, a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: gray;

}
.footer-siguenos span{
    display: flex;
    justify-content: space-around;

}
.footer-pagos img{
    width: 200px;
}